* {
    box-sizing: border-box;
}

body {
    color: #303030;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.text {
    max-width: 45em;
    margin: 0 auto;
    padding: 2em;
}

.banner {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.banner-text-container {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(255,255,255,.8) 0%,rgba(255,255,255,0.5) 17%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 100%);
    /*background: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,1));*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner a, .banner-text-container {
    height: 100%;
    width: 100%;
    max-height: 30vh;
}

.banner img {
    width: 100%;
}

.banner a {
    text-decoration: none;
    color: black;
    display: block;
    line-height: 0;
}

.banner h1 {
    margin: .15em 0;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
    line-height: normal;
    font-weight: 300;
}

h2 {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

.cover img {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.15s;
}

.cover img:hover {
    transform: rotateX(8deg);
}

.cover img:active {
    transform: scale(0.96) rotateX(8deg);
}

.cover {
    padding: 0.5rem;
    perspective: 800px;
}
