* {
    box-sizing: border-box;
}

.pure-g {
    padding: 0 1em;
    max-width: 70em;
    margin: 0 auto;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 0.3em;
    font-size: 5em;
    line-height: 0.8em;
    font-weight: 300;
}

h2 {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
}
