---
---

{% include head.html %}
<body>
    <div class="logo">
        <img src="/img/logo.png" alt="">
        Telling it like it tastes.
    </div>
    <br>
    <br>
    <div class="pure-g">
        <div class="pure-u-1-5">
                <div class="1-box"></div>
            </div>
            <div class="pure-u-3-5 cover-container">
        {% for post in site.posts %}
            
                <a href="{{post.url}}"><img class="cover" src="{{post.image}}" alt="{{post.title}}"></a>
            
        {% endfor %}
        </div>
        <div class="pure-u-1-5">
                <div class="1-box"></div>
            </div>
    </div>
</body>
