{% include head.html %}
<body>
    <style>
        .banner {
             background-image: url("{{page.image}}");

        }
    </style>
    <div class="banner">
        <a href="../../../index.html">
            <div class="logo-container">
                <h1>foodblog</h1>
                Telling it like it tastes.
            </div>
        </a>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-5">
        </div>
        <div class="pure-u-3-5">
            {{content}}
        </div>
        <div class="pure-u-1-5">
        </div>
    </div>
</body>
